@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {
    background-color: #ffffff; 
    color: #000000; 
    transition: background-color 0.3s, color 0.3s; 
  }
  

  body.dark {
    background-color: #333333; 
    color: #ffffff; 
  }*/


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; 
  font-weight: 400;
  font-style: normal;
  
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #333333;
  color: #ffffff;

}


.nav Typography {
  background-color: #f0f0f0;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark .nav body.dark Typography {
  background-color: #444444;
  color: #ffffff;
}


.sidebar {
  background-color: #f8f9fa;
  color: #000000;
}

body.dark .sidebar {
  background-color: #212121;
  color: #ffffff;
}


.icon {
  color: #000000;
}

body.dark .icon {
  color: #ffffff;
}





form {
  background-color: #f9f9f9;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

body.dark form {
  background-color: #424242;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

body.light .showapply {
  background-color: #f9f9f9;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

body.dark .showapply {
  background-color: #424242;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input,
select,
textarea,
checkbox,
.calendar {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #cccccc;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

body.dark input,
body.dark select,
body.dark textarea,
body.dark checkbox,
body.dark .calendar {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

label {
  color: #000000;
  transition: color 0.3s;
}

body.dark label {
  color: #ffffff;
}

h1 {
  font-size: 18px; 
  font-weight: 700;
  font-style: bold;
}

h2, h3, h4 {
  font-size: 16px; 
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3a1616;
  background-color: #f0f0f0;
  transition: color 0.3s, background-color 0.3s;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: #ffffff;
  background-color: #252424;
}

button {
  /* background-color: #007bff;
    color: #ffffff; */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

button:hover {
  /*background-color: #0056b3; */
}

body.dark button {
  /*background-color: #0056b3; 
    color: #ffffff; */
}

body.dark button:hover {
  /*background-color: #003d80; */
}


@keyframes submitColorChange {
  0% {
    background-color: #1e3a8a;   
  }

  33% {
    background-color: #60a5fa;
  }

  66% {
    background-color: #2563eb;
  }

  100% {
    background-color: #1e3a8a;
  }
}

.hover\:animate-submitColorChange:hover {
  animation: submitColorChange 1.5s infinite;
}

@keyframes resetColorChange {
  0% {
    background-color: #1f2937;
  }

  33% {
    background-color: #9ca3af;
  }

  66% {
    background-color: #6b7280;
  }

  100% {
    background-color: #1f2937;
  }
}

.hover\:animate-resetColorChange:hover {
  animation: resetColorChange 1.5s infinite;
}



button:disabled,
.btn-dis[disabled],
.btn-dis:disabled button[disabled],
input[type="checkbox"]:disabled {
  border: 1px solid #999999;
  background-color: darkgrey !important;
  color: #fff;
  padding: 10px;
  cursor: not-allowed;
  position: relative;
}


button:disabled:hover::after,
.btn-dis:disabled:hover::after,
input[type="checkbox"]:disabled:hover::after {
  /* content: attr(title); 
  background-color: #333;
  color: #fff;
 */
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;

  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0.9;
  font-size: 12px;
  pointer-events: none;
}

.btn {
  border: 1px solid #999999;
  background-color: blue;
  color: #fff;
  padding: 10px;
}

.btn-enabled {
  background-color: transparent !important;
   cursor: not-allowed;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes hoverEffect {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.02);
  }
}




table {
  border-collapse: collapse;
  width: 100%;
}
/*
th {
  background-color: #e0e0e0;
  color: #000000;
  border: 1px solid #cccccc;
}

body.dark th {
  background-color: #444444;
  color: #ffffff;
  border: 1px solid #555555;
}

td {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #cccccc;

}

body.dark td {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}



table thead{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; 
  font-weight: 400;
  font-style: normal;
}



table tbody tr {
  animation: fadeIn 0.5s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

table tbody tr {
  transition: background-color 0.3s ease, transform 0.3s ease;
}


body.light table tbody tr:hover{
  background-color: rgba(0, 0, 0, 0.2);

}


body.dark table tbody tr:hover,body.dark table tbody td:hover,body.dark table tbody th:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


*/


/*
body.light table tbody th:hover{
  background-color: rgba(0, 0, 0, 0.2) !important;
  background-color: #3a1616 !important;
  border: #2563eb 4px solid;
}


body.dark table tbody th:hover{
  background-color: rgba(255, 255, 255, 0.3) !important;
  background-color: #2563eb !important;
  border: #3a1616 4px solid;
}
*/
/*

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #cccccc;
  transition: background-color 0.3s, color 0.3s; 
}


body.light th {
  background-color: #e0e0e0;
  color: #000000;
}

body.light td {
  background-color: #ffffff;
  color: #000000;
}


body.dark th {
  background-color: #444444;
  color: #ffffff;
}

body.dark td {
  background-color: #333333;
  color: #ffffff;
}


body.light table tbody tr {
  transition: background-color 0.3s ease; 
}

body.light table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

body.dark table tbody tr {
  transition: background-color 0.3s ease; 
}

body.dark table tbody tr:hover {
  background-color: rgba(147, 223, 26, 0.1);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

table tbody tr {
  animation: fadeIn 0.5s ease forwards; 
}
*/

body.light table thead th:hover,table thead th:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}


body.dark table thead th:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}


body.light table tbody tr:hover,table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}


body.dark table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}


body.dark table tbody td:hover,
body.light table tbody td:hover,table tbody td:hover {
  background-color: inherit; 
}


body.light table thead th:hover,table thead th:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}


body.dark table thead th:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}
